.portfolio-table,
.header-button-container {
  text-align: center;
  margin-top: 30px;
}


.login-form {
  width: 350px;
  display: inline-block;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  border: 1px solid #0000004f;
  padding: 13px;
  margin-top: 25px;
  text-align: left;
}

.center {
  text-align: center;
}

.template {
  display: none;
}